# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Airflow
logs/
*.log

# Airflow generados automáticamente
airflow.db
airflow.cfg
webserver_config.py

# Variables de entorno
.env

# Sistema operativo
.DS_Store
Thumbs.db